<app-header> </app-header>

<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/addNews"> Add News </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/businessNews"> BusinessNews </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/crime"> Crime </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/politics"> Politics </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/sports"> Sports </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/technology"> Technology</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/world"> World</a>  </td>
    
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>

